* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    
    
}
 .header{
    color: #F9FAF8;
    font-size: 24px;
 }
.nav-list {
   
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #E5E7EB;
}

.nav-list li {
    padding: 10px;;
    
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.hero-primary {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 500px;
    

}
 .hero-button {
    background-color: #3882f6;
    color: #F9FAf8;
    padding: 5px;
 }
.right-image {
    width: 400px;
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.cards .title {
    text-align: center;
    color: #1f2937
}
.gallery {
   display: flex;
   
}
 img {
    width: 100px;
    height: 100px;
 }
.gallery li {
   
}

.quote-section {
    border: solid 3px green
}

.action {
    border: solid 3px orange
}

.footer button {
    border: solid 3px purple
}


